.main-footer {
	overflow: hidden;
	padding-bottom: 20px;
}

.main-footer__wrap {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #fff;
	padding-top: 38px;
	padding-bottom: 24px;
	margin-bottom: 38px;
}

.main-footer__wrap:after,
.main-footer__wrap:before {
	position: absolute;
	content: ' ';
	left: 0px;
	width: 100%;
	height: 1px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.main-footer__wrap:after {
	bottom: 0px;
	z-index: -1;
}

.main-footer__wrap:before {
	top: 0px;
}

.main-footer__link {
	display: inline-block;
	font-size: 0.9375rem;
	line-height: 1;
	color: #363636;
	column-gap: 32px;
	margin-right: 32px;
	margin-bottom: 22px;
}

.main-footer__link:hover {
	text-decoration: underline;
}

.main-footer__elem {
	font-size: 0.9375rem;
	line-height: 1;
	color: #363636;
	padding-bottom: 14px;
}

.main-footer__content {
	display: flex;
	align-items: center;
	margin: 0 -5px;
}

.main-footer__item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
	width: 34px;
	height: 34px;
	margin: 0 5px;
}

.main-footer__item--facebook {
	background-image: url(../img/icons/facebook.svg);
}

.main-footer__item--instagram {
	background-image: url(../img/icons/instagram.svg);
}

.main-footer__item--linkedin {
	background-image: url(../img/icons/linkedin.svg);
}

.main-footer__item--youtube {
	background-image: url(../img/icons/youtube.svg);
}

.main-footer__item--mysugr {
	background-image: url(../img/icons/mysugr.svg);
}

.main-footer__image {
	max-width: 50px;
	width: 100%;
	margin-bottom: 17px;
}

.main-footer__image img {
	display: block;
}

.main-footer__text p {
	font-size: 0.75rem;
	line-height: 1.25;
}

.main-footer__text p:not(:last-child) {
	padding-bottom: 1.5em;
}

@media screen and (max-width: 767px) {

.main-footer__wrap {
	flex-direction: column;
	margin-bottom: 25px;
}

.main-footer__link {
	margin-right: 0px;
	margin-bottom: 13px;
}

.main-footer__elem {
	text-align: center;
}

.main-footer__content {
	justify-content: center;
}

}

